<table cellpadding="0" cellspacing="0" border="0"
class="table table-striped table-bordered" id="main-table">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>e Mail</th>
			<th>Mobile</th>
			<th>Type</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{{#data.users}}
		<tr>
			<td>{{firstName}}</td>
			<td>{{lastName}}</td>
			<td>{{email}}</td>
			<td>{{mobile}}</td>
			<td>{{type}}</td>
			<td class="center"><a href="assign_groups?user={{username}}"  data-toggle="modal" title="Assign Groups"
			><i class="icon-group"> </i> Assign Roles</a> &nbsp; 
			<a href="#"  class="btn-invite" data-item="{{username}}" title="Invite"><i class="icon-envelope"> </i> Invite</a>&nbsp; 
			
			<a href="#"  class="btn-item-remove" data-item="{{username}}" title="Remove"><i class="icon-remove"> </i> Remove</a>
			
			</td>
		</tr>
		{{/data.users}}
	</tbody>
</table>
